*{
padding: 0;
margin: 0;
box-sizing: border-box;
text-transform: capitalize;
}

body
{
    /* //////////background image layout................ */
    background-image: url(./background.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    /* ................... */


    display: flex;
    align-items: center;
    justify-content: center;

}

.container
{
    padding: 2rem;
    text-align: center;
    border-radius: 10%;
    background-color: azure;
}

#quote_btn
{
    padding: 0.5rem;
    outline: none;
    cursor: pointer;
    background-color: burlywood;
    border-radius: 15%;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
    border: none;
transition: all 2s ease-in-out;
}

#quote_btn:hover
{
background-color: #27187E;
color: #F1F2F6;
}

blockquote
{
    background-color: azure;
    border-left: 4px solid #27187E;
    padding: 0.3rem;
    margin-bottom: 1rem;
    margin-top: 0.4rem;
}

.quote_author
{
    color: #FBAF00;
}